* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline-style: none;
}
*:focus { outline: 0px; }
body, html {
    height: 100%;
    width: 100%;
}
html { margin:0;padding:0;box-sizing: border-box; }
body {
	-webkit-text-size-adjust: 100%;
	color: #6C7A89;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;  
	line-height: 1.2;
	font-weight: 400;
	background-color: #ececec;
}
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    width: 100%;
    max-width: 1160px;
    min-width: 320px;
	box-sizing: border-box;
}	 

/*--------Adaptive-------*/
.row-fluid:before, .row-fluid:after {  content: " ";  display: table;}
.row-fluid:after { clear: both;}

.row-fluid [class*="span"] {
	margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
	float: left;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
.row-fluid [class*="span"]:first-child, .row-fluid.for-car [class*="span"]:first-child, .row-fluid .mgl0  {
    margin-left: 0;
}

.row-fluid .span20 { width: 17.93789743589745%; *width: 17.48908892525914%;}
.row-fluid .span12 { width: 100%; *width: 9.994680851063829%; margin-left: 0;}
.row-fluid .span11 { width: 91.45299145299145%; *width: 91.39979996362975%;}
.row-fluid .span10 { width: 82.90598290598291%; *width: 82.8527914166212%;}
.row-fluid .span9 { width: 74.35897435897436%; *width: 74.30578286961266%;}
.row-fluid .span8 { width: 65.81196581196582%; *width: 65.75877432260411%;}
.row-fluid .span7 { width: 57.26495726495726%; *width: 57.21176577559556%;}
.row-fluid .span6 { width: 48.717948717948715%; *width: 48.664757228587014%;}
.row-fluid .span5 { width: 40.17094017094017%; *width: 40.11774868157847%;}
.row-fluid .span4 { width: 31.623931623931625%; *width: 31.570740134569924%;}
.row-fluid .span3 { width: 23.076923076923077%; *width: 23.023731587561375%;}
.row-fluid .span2 { width: 14.52991452991453%; *width: 14.476723040552828%;}
.row-fluid .span1 { width: 5.982905982905983%; *width: 5.929714493544281%;}

h1, .h1 { line-height: 1.2; font-family: 'Roboto Condensed', sans-serif;}
h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 { line-height: 1.2; font-family: 'Roboto Condensed', sans-serif; font-weight: bold;}

h1, .h1 {font-size: 32px;}
h2, .h2 {font-size: 23px;}
h3, .h3 {font-size: 20px;}
h4, .h4 {font-size: 17px;}
h5, .h5 {font-size: 16px;}
h6, .h6 {font-size: 16px;}
h1, h2, h3, .h1, .h2, .h3 {margin-bottom: 15px; margin-top: 15px;}
h4, h5, h6, .h4, .h5, .h6 {margin-bottom: 10px; margin-top: 10px;}

a, button { color: #6C7A89; cursor: pointer;}
:hover, :hover * { t-webkit-ransition: color 0.1s linear; -moz-transition: color 0.1s linear; -o-transition: color 0.1s linear; transition: color 0.1s linear;}
:focus { outline: medium none; }

img { max-width: 100%; max-height: 100%;}

.clear:before, .clear:after {  content: " ";  display: table;}
.clear:after { clear: both;}
.clearboth { clear: both;}


select { background-color: #fff; border: 1px solid #d4d4d4;}
input[type=checkbox] { margin: -2px 4px 0 0;}
input[type="text"], input[type="password"], input[type="submit"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea { -webkit-autofill: none; -webkit-appearance: none;}
input[type="text"], input[type="password"], input[type="submit"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
	padding: 15px 15px ; border: 1px solid #d4d4d4;
	width: 100%; box-sizing: border-box;
	background-color: #fff;
	-webkit-appearance: none;
	transition: all 0.2s linear;
	color: #6C7A89;
	outline-style: none;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"], input[type="url"]:focus, textarea:focus{
	border-color: #F9690E;
}
input[type="text"]:focus + input {
	border-color: #F9690E;
}

.btn { padding: 10px 15px; border: 1px solid #d4d4d4; background-color: #fff; transition: all 0.2s linear; color: #6C7A89; outline-style: none; text-decoration: none;}
.btn:hover { background-color: #F9690E; color: #fff; }
.btn[disabled=disabled] { background-color: #ccc; border-color: #ccc;}
.btn[disabled=disabled]:hover { background-color: #ccc; color: #6C7A89; cursor: default;}

input[type=submit]:active, .btn:not([disabled=disabled]):active { -webkit-transform: translateY(2px); -moz-transform: translateY(2px); transform: translateY(2px); }

/*-------CSS----------*/
h1 { text-align: center; line-height: 1.6; vertical-align: middle;}
h1 > img { vertical-align: middle;}

.list_wrap { height: 100%; }

.main_form {
    position: relative;
    top: 35%;
    /*-webkit-transition: top 0.35s ease; -moz-transition: top 0.35s ease; transition: top 0.35s ease; */
    will-change: top;
}
.main_form.top { top: 0; transform: translateY(0);}

.search_form { position: relative; margin-bottom: 2.5641%;}
.search_form input { font-size: 1.4rem; }
.search_form input[type=submit] { 
	border: 1px solid #d4d4d4; 
	cursor: pointer;
	position: absolute; z-index: 1; height: 100%; margin: auto; top: 0; bottom: 0; right: 0;
	width: 100px; text-align: center;
}
.search_form input[type=text]:focus + input[type=submit]:hover { background-color: #F9690E; color: #fff;}


.items_row .item { margin-bottom: 2.5641%; border: 1px solid #d4d4d4; overflow: hidden;position: relative;}
.items_row .item:before {
    content: "";
    display: block;
    padding-top: 145%;
}
.items_row .item.span3:nth-child(4n+1) { margin-left: 0;}
.items_row .item .img_wrap { height: 100%; overflow: hidden;}
.items_row .item img { position: absolute; z-index: 1; top: -100px; right: -100px; bottom: -100px; left: -100px; margin: auto; max-height: 105%; max-width: 105%;}

.items_row .item .desc { 
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; transition: all 0.2s linear; 
	position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0;
	z-index: 2; color: #fff; padding: 20px;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
}

.items_row .item .title { text-shadow: 0 0 2px #000;}
.items_row .item .date { text-shadow: 0 0 2px #000; color: #ddd; font-size: 13px;}
.items_row .item:hover { cursor: pointer;}
.items_row .item:hover .desc { opacity: 0; }

.item_row ul { margin-bottom: 25px; }
.item_row li { list-style: none; margin-bottom: 5px; }

.pagination { margin-bottom: 40px; text-align: center; }
.pagination button { padding: 10px 15px; }
.pagination button:first-child { margin-right: 15px; }
.pagination button:last-child { margin-left: 15px; }
.pagination > button, .pagination > span { display: inline-block; vertical-align: middle; }

/*-------load animation----------*/
.items_row .item:nth-child(2), .show2 { webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s; }
.items_row .item:nth-child(3), .show3 { webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s; }
.items_row .item:nth-child(4), .show4 { webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s; }
.items_row .item:nth-child(5), .show5 { webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; }
.items_row .item:nth-child(6), .show6 { webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; }
.items_row .item:nth-child(7), .show7 { webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s; }
.items_row .item:nth-child(8), .show8 { webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; animation-delay: 0.7s; }
.items_row .item:nth-child(9), .show9 { webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s; }
.items_row .item:nth-child(10), .show10 { webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s; }
.items_row .item:nth-child(11) { webkit-animation-delay: 0.10s; -moz-animation-delay: 0.10s; animation-delay: 0.10s; }
.items_row .item:nth-child(12) { webkit-animation-delay: 0.11s; -moz-animation-delay: 0.11s; animation-delay: 0.11s; }
.items_row .item:nth-child(13) { webkit-animation-delay: 0.12s; -moz-animation-delay: 0.12s; animation-delay: 0.12s; }
.items_row .item:nth-child(14) { webkit-animation-delay: 0.13s; -moz-animation-delay: 0.13s; animation-delay: 0.13s; }
.items_row .item:nth-child(15) { webkit-animation-delay: 0.14s; -moz-animation-delay: 0.14s; animation-delay: 0.14s; }
.items_row .item:nth-child(16) { webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s; }
.items_row .item:nth-child(17) { webkit-animation-delay: 0.16s; -moz-animation-delay: 0.16s; animation-delay: 0.16s; }
.items_row .item:nth-child(18) { webkit-animation-delay: 0.17s; -moz-animation-delay: 0.17s; animation-delay: 0.17s; }
.items_row .item:nth-child(19) { webkit-animation-delay: 0.18s; -moz-animation-delay: 0.18s; animation-delay: 0.18s; }
.items_row .item:nth-child(20) { webkit-animation-delay: 0.19s; -moz-animation-delay: 0.19s; animation-delay: 0.19s; }

 
@media (max-width: 767px) {
	.items_row .item.span3 { width: 31.6239%; }
	.items_row .item.span3:nth-child(4n+1) { margin-left: 2.5641025%;}
	.items_row .item.span3:nth-child(3n+1) { margin-left: 0;}

	h1 { font-size: 26px; }
	.search_form input { font-size: 1.2rem; padding: 11px;}
}
 
@media (max-width: 480px) {
	.items_row .item.span3 { width: 48.7179%; }
	.items_row .item.span3:nth-child(4n+1) { margin-left: 2.5641025%;}
	.items_row .item.span3:nth-child(2n+1) { margin-left: 0;}

	h1 { font-size: 20px; }
	.search_form input { font-size: 1rem; padding: 8px;}

	.item_row .row-fluid .span4, .item_row .row-fluid .span8 { width: 48.7179%; }
}

@media (max-width: 370px) {
	.items_row .item.span3 { width: 100%; margin-left: 0;}
	.items_row .item.span3:nth-child(4n+1) { margin-left: 0;}
	.items_row .item.span3:nth-child(2n+1) { margin-left: 0;}

	.item_row .row-fluid .span4, .item_row .row-fluid .span8 { width: 100%; margin-left: 0; margin-bottom: 1rem;}
}